<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- SmSL 추가 -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="infodigm">
			<sectionGroup name="systemConfiguration">
				<section name="service" type="SmartEnter.SystemConfiguration.Service.ConfigurationServerConfigSectionHandler, SmartEnter.Core" />
				<section name="client" type="SmartEnter.SystemConfiguration.Service.Client.ConfigurationClientConfigSectionHandler, SmartEnter.Core" />
				<sectionGroup name="handlers">
					<section name="fileSystemConfigurationDataHandler" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- SmSL 추가 -->
		<!--Oracle-->
		<add key="SmartEnter.ProviderTypeString" value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess" />


		<add key="SmartEnter.ConnectionString" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = ictserver.iptime.org)(PORT = 14771))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = indi12)));User ID=bhepcs; Password=bhepcs;" />
		<!--<add key="SmartEnter.ConnectionString" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = ictserver.iptime.org)(PORT = 14771))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = indi12)));User ID=bhecqma; Password=bhecqma;" />-->
		<!--<add key="SmartEnter.ConnectionString" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = ictserver.iptime.org)(PORT = 14771))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = indi12)));User ID= bheddm; Password= bheddm;" />-->

		<add key="DatabaseIdentifier" value="78513EB6D6EF40CD8E554E64D405EF36" />
		<add key="LicenseFile" value="License.Xml" />
		<add key="MaxFileDownloadSize" value="30000000" />
		<add key="WebEOTempleateFolder" value="C:\SourceCode\SmSL_YRC\SmSL\Templates" />
		<add key="WebEOOutputFolder" value="C:\SourceCode\SmSL_YRC\SmSL\Vaults" />
		<add key="WebUserUploadsFolder" value="C:\SourceCode\SmSL_Mvc\SmSL_Mvc\SmSL_Mvc" />
		<add key="RemoteServer" value="tcp://127.0.0.1:8080" />
		<add key="SmImageUrl" value="SmSL/SmImages" />
		<add key="FileServer" value="ftp://smartenter.ictpeople.co.kr:6621/" />
		<add key="FTPSslCheck" value="true" />
		<add key="enabled_ssl" value="true" />
		<add key="enabled_auth" value="true" />
		<add key="WebServer" value="http://localhost:33643/" />

	
	</appSettings>
	<infodigm>
		<systemConfiguration>
			<service>
				<configurationDataHandler>SmartEnter.SystemConfiguration.Service.FileSystemConfigurationDataHandler, SmartEnter.Core </configurationDataHandler>
				<allowUnsignedSchemas>true</allowUnsignedSchemas>
			</service>
			<handlers>
				<fileSystemConfigurationDataHandler>
					<!--<add key="SchemasPath" value="\Component\ConfigurationSettings\Schemas" />-->
					<add key="SchemasPath" value="Component\ConfigurationSettings\Schemas" />
					<add key="DataPath" value="Component\ConfigurationSettings\Data" />
				</fileSystemConfigurationDataHandler>
			</handlers>
		</systemConfiguration>
	</infodigm>
</configuration>

